{% extends "baseTemplate.html" %}

{% block title %}
    {{name}}: About{% endblock %}

{% block active %}
    <a class="active" href="/About">About</a>
{% endblock %}

{% block content %}
    <h1>
        About {{ name }}:
    </h1>
    <h2>
        Acknowlegment
    </h2>
    <p>
        This project has received funding from the European Union’s Horizon 2020
        research and innovation programme under the Marie Skłodowska-Curie grant
        agreement No 811312 for the project "Astro-Chemical Origins” (ACO).
        <br>
    </p>
    <h2>
        Brief Parameter Description:
    </h2>
    <p>
        Listed below are brief explanations of the parameters for UCLCHEM. For more
        details, we refer the user to the
        <a href="https://arxiv.org/abs/1705.10677" target="_blank">article for UCLCHEM</a> and the
        <a href="https://github.com/uclchem/UCLCHEM" target="_blank">Github Page</a> for the
        source code of UCLCHEM.
    </p>
    <p>
        <table>
            <tr>
                <th>Parameter</th>
                <th>Units</th>
                <th>Description</th>
                <th>Absolute Boundaries</th>
            </tr>
           <!--<tr>
                <td> Phase<br>(1 or 2) </td>
                <td> No Units </td>
                <td> In UCLCHEM phase 1 is a simple cloud, phase 2 can
                        run the physics of more complicated models such
                        as c-shocks or hot cores.</td>
            </tr>-->
            <!--<tr>
                <td> Switch<br>(0 or 1) </td>
                <td> No Units </td>
                <td> Switch that informs UCLCHEM if it should finish
                        after a certain amount of time, or at a certain
                        density.</td>
            </tr>-->
            <!--<tr>
                <td> Collapse<br>(0 or 1) </td>
                <td> No Units </td>
                <td>  </td>
            </tr>-->
            <!--<tr>
                <td> Desorbtion<br>(0 or 1) </td>
                <td> No Units </td>
                <td>  </td>
            </tr>-->
            <!--<tr>
                <td> Initial Density </td>
                <td> cm<sup>-3</sup> </td>
                <td>  </td>
            </tr>-->
            <tr>
                <td> Final Density </td>
                <td> cm<sup>-3</sup> </td>
                <td> The density at which the model will stop collapsing </td>
                <td> 100 - 10<sup>9</sup> cm<sup>-3</sup> </td>
            </tr>
            <tr>
                <td> Initial Temperature </td>
                <td> K </td>
                <td> The temperature the object has throughout the modeling. </td>
                <td> 5 - 30 K </td>
            </tr>
            <!--<tr>
                <td> Max Temperature </td>
                <td> K </td>
                <td>  </td>
            </tr>-->
            <tr>
                <td> Zeta factor </td>
                <td> 1.3e<sup>-17</sup> s<sup>-1</sup> </td>
                <td> Zeta is the factor by which the cosmic ray
                        ionization rate is multiplied. See units
                        for the standard CR ionization rate which
                        will be multiplied by the zeta factor given
                        by a user. </td>
                <td> 5 - 30 K </td>
            </tr>
            <tr>
                <td> Radiation field </td>
                <td> Habing </td>
                <td> External radiation field affecting the object </td>
                <td> 1 - 10<sup>4</sup>  Habing </td>
            </tr>
            <tr>
                <td> R<sub>out</sub> </td>
                <td> No Units </td>
                <td>  </td>
                <td> 0.0001 - 10 pc</td>
            </tr>
        </table>
    </p>
{% endblock %}