{% extends "baseTemplate.html" %}

{% block title %}
    {{name}}: Home
{% endblock %}

{% block active %}
    <a class="active" href="/">Home</a>
{% endblock %}

{% block content %}
    <h1>
        {{ name }}:
    </h1>
    <h2>
        A physical parameter inference using spectroscopic information
    </h2>
    <p>
        This is the Home page to the MCMC Inference code {{ name }} (Prototype name).
        This serves as a test for the creation of a web based GUI for the code in order
        to allow for observers to have easy access to the code and its capabilities.
    </p>
    <br>
    <p>
        To run an inference, use "Inference" option on the sidebar.
    </p>
    <br>
    <br>
    <br>
    <p>
        This project has received funding from the European Union’s Horizon 2020
        research and innovation programme under the Marie Skłodowska-Curie grant
        agreement No 811312 for the project "Astro-Chemical Origins” (ACO).
        <br>
    </p>
    <p align="center">
        <img src="https://europa.eu/european-union/sites/europaeu/files/docs/body/flag_yellow_high.jpg" alt="EU Flag" width="295.375" height="197">
        <img src="https://lh4.googleusercontent.com/g5CXOpv2ojXMZzOjnannSXW9TrAUZ73g_-ibH5MTZyeNlvhwKsKGwXvjD36H6OuoxoGLuSltc3rzBsbaQsP8zcIntLy1lPkX4gSFdCeZpk2itK8_SA=w1280" alt="ACO Logo" width="264.770194986" height="197">
    </p>
{% endblock %}