{% extends "baseTemplate.html" %}

{% block title %}
    {{name}}: Inference
{% endblock %}

{% block active %}
    <a class="active" href="/MCMCInference">Inference</a>
{% endblock %}

{% block content %}
    <h1>
        MCMC Inference:
    </h1>
    <p>
        In order to run an MCMC inference of the physical parameters, please proceed with the following
        pages, and fill in the information that they request.
    </p>
    <h2>
        If you wish to load a previous session, please put in the name of that session here
    </h2>
    <form action="" method="post">
        <input type="text" name="Session_name">
        <input type="submit" name="Load_Session" value="Load Session"/>
    </form>
    <h2>
        Physical Parameter Ranges:
    </h2>
    <p>
        Fill in the ranges of the physical parameters within which the MCMC inference should happen. For those
        parameters that should be kept constant, use only the lower bound. For the detailes meaning of parameters
        in the web based version of {{ name }}, we refer the user to the publication of
        <a href="https://arxiv.org/abs/1705.10677" target="_blank">UCLCHEM</a> and to the
        <a href="https://github.com/uclchem/UCLCHEM" target="_blank">Github Page</a>. For a brief overview
        see the <a href="/About">about page</a>.
    </p>
    {% if "Grid" in session %}
    <form action="" method="post">
        <table>
            <caption>Chemical Model Parameters</caption>
            <tr>
                <th>Parameter</th>
                <th>Lower bound || constant</th>
                <th>Upper bound</th>
            </tr>
            <tr>
                <td>Final Density</td>
                <td><input type="text" name="finalDens" value={{session["finalDens"]}}></td>
                <td><input type="text" name="finalDens_up" value={{session["finalDens_up"]}}></td>
            </tr>
            <tr>
                <td>Initial Temperature</td>
                <td><input type="text" name="initialTemp" value={{session["initialTemp"]}}></td>
                <td><input type="text" name="initialTemp_up" value={{session["initialTemp_up"]}}></td>
            </tr>
            <tr>
                <td>Cosmic radiation factor</td>
                <td><input type="text" name="zeta" value={{session["zeta"]}}></td>
                <td><input type="text" name="zeta_up" value={{session["zeta_up"]}}></td>
            </tr>
            <tr>
                <td>UV radiation field factor</td>
                <td><input type="text" name="radfield" value={{session["radfield"]}}></td>
                <td><input type="text" name="radfield_up" value={{session["radfield_up"]}}></td>
            </tr>
            <tr>
                <td>R<sub>out</sub></td>
                <td><input type="text" name="rout" value={{session["rout"]}}></td>
                <td><input type="text" name="rout_up" value={{session["rout_up"]}}></td>
            </tr>
        </table>
        <table>
            <caption>Radiative Transfer Model Parameters</caption>
            <tr>
                <th>Parameter</th>
                <th>Lower bound || constant</th>
                <th>Upper bound</th>
            </tr>

            <tr>
                <td>Line Width</td>
                <td><input type="text" name="linewidth" value={{session["linewidth"]}}></td>
                <td><input type="text" name="linewidth_up" value={{session["linewidth_up"]}}></td>
            </tr>
        </table>
        <p align="right">
            <input type="submit" value="submit"/>
        </p>
    </form>
    {% else %}
    <form action="" method="post">
        <select name="Grid">
            <option value= "Coarse" selected="selected">Coarse Grid</option>
            <option value= "Fine">Fine Grid</option></select>
        <input type="submit" name="Add_Grid" value="Select Grid"/>
    </form>
    {% endif %}

{% endblock %}