{% extends "baseTemplate.html" %}

{% block title %}
    {{name}}: Results
{% endblock %}

{% block active %}
    <a class="active" href="/Results">Inference</a>
{% endblock %}

{% block content %}
    <h2>UCLCHEMCMC Options</h2>
    <p>
        Prior to running the MCMC, please select and/or fill in the following four things: <br>
        Would you like to use a coarse, or fine grid for the physical parameters of UCLCHEM?
        The actual values of both grids can be found in the <a href="/About">about page</a>. <br>
        Do you wish to implement the UCLCHEM emulator detailed in the <a href="/About">about page</a> in order
        to potentially improve the speed of the inference? <br>
        Would you like the starting positions to be informed from the already stored models or to be random? <br>
        If you wish to run the inference using a previously stored run, please supply the path, else a new file
        will be created for you.
    </p>
     <form action="" method="post">
        <p>
            Which molecules and Lines do you wish to add?
        </p>
        <p>
            <select name="Grid">
                <option value= "Coarse" selected="selected">Coarse Grid</option>"
                <option value= "Fine">Fine Grid</option>"
            </select>

            <select name="Emulator">
                <option value= "No Emulator" selected="selected">Do not use the Emulator</option>"
                <option value= "Emulator">Use the Emulator</option>"
            </select>

            <select name="Informed">
                <option value="Not Informed" selected="selected">Use random starting positions</option>
                <option value="Informed">Use informed starting position</option>
            </select>
            {% if "SessionBackend" in session %}
                <input type="text" name="SessionBackend" value={{session["SessionBackend"][9:-3]}}>
            {% else %}
                <input type="text" name="SessionBackend" value="">
            {% endif %}

            {% if "Walkers" in session %}
                <input type="text" name="Walkers" value={{session["Walkers"]}}>
            {% else %}
                <input type="text" name="Walkers" value=25>
            {% endif %}

            {% if "StepsPerClick" in session %}
                <input type="text" name="StepsPerClick" value={{session["StepsPerClick"]}}>
            {% else %}
                <input type="text" name="StepsPerClick" value=200>
            {% endif %}

            <input type="submit" name="Submit_Options" value="Submit Options"/>
        </p>
    </form>
    <h2> UCLCHEM Parameters and User Input</h2>
    <h3> The Parameters used for UCLCHEM are as follows:</h3>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Lower bound || constant</th>
            <th>Upper bound</th>
        </tr>
        <tr>
            <td>Final Density</td>
            {% if "finalDens" in session %}
                <td> {{ session["finalDens"] }}</td>
            {% else %}
                <td> 1.00e5 (Default)</td>
            {% endif %}

            {% if "finalDens_up" in session %}
                <td> {{ session["finalDens_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}
        </tr>
        <tr>
            <td>Initial Temperature</td>
            {% if "initialTemp" in session %}
                <td> {{ session["initialTemp"] }}</td>
            {% else %}
                <td> 10.0 (Default)</td>
            {% endif %}

            {% if "initialTemp_up" in session %}
                <td> {{ session["initialTemp_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}
        </tr>
        <tr>
            <td>Cosmic Radiation factor</td>
            {% if "zeta" in session %}
                <td> {{ session["zeta"] }}</td>
            {% else %}
                <td> 1.0 (Default)</td>
            {% endif %}

            {% if "zeta_up" in session %}
                <td> {{ session["zeta_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}
        </tr>
        <tr>
            <td>UV radiation field factor</td>
            {% if "radfield" in session %}
                <td> {{ session["radfield"] }}</td>
            {% else %}
                <td> 1.0 (Default)</td>
            {% endif %}

            {% if "radfield_up" in session %}
                <td> {{ session["radfield_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}


        </tr>
        <tr>
            <td>R<sub>out</sub></td>
            {% if "rout" in session %}
                <td> {{ session["rout"] }}</td>
            {% else %}
                <td> 0.05 (Default)</td>
            {% endif %}

            {% if "rout_up" in session %}
                <td> {{ session["rout_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}

        </tr>
        <!--<tr>
            <td>Parameter</td>
            {% if "Parameter" in session %}
                <td> {{ session["Parameter"] }}</td>
            {% else %}
                <td> Value (Default)</td>
            {% endif %}

            {% if "Parameter_up" in session %}
                <td> {{ session["Parameter_up"] }}</td>
            {% else %}
                <td> Constant</td>
            {% endif %}
        </tr>-->
    </table>

    <h3> The provided Observations are as follows: </h3>
    <p>
        {% for Molecule in session["outSpecies"] %}
            {% if Molecule in session %}
                <table>
                    <tr stle="background-color: hsl(0, 0%, 45%)">
                        <td>{{Molecule}}</td>
                        <td> Intensity ()</td>
                        <td> Error estimate </td>
                    </tr>
                    {% for Line in session[Molecule] %}
                        {% set Int = Molecule+"_"+Line+"_Int" %}
                        {% set ER = Molecule+"_"+Line+"_ER" %}
                        <tr>
                            <td>{{ Line }}</td>
                            <td>{{session[Int]}}</td>
                            <td>{{session[ER]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}