<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ageOfCloudOut</th>
      <th>h2densOut</th>
      <th>cloudTempOut</th>
      <th>avOut</th>
      <th>radiationOut</th>
      <th>zetaOut</th>
      <th>h2FormRateOut</th>
      <th>fcOut</th>
      <th>foOut</th>
      <th>fmgOut</th>
      <th>fheOut</th>
      <th>deptOut</th>
      <th>H</th>
      <th>H+</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5260100.0</td>
      <td>50012.040587</td>
      <td>8.0</td>
      <td>2.008506</td>
      <td>0.01</td>
      <td>0.01</td>
      <td>2.828427e-17</td>
      <td>0.00026</td>
      <td>0.00046</td>
      <td>0.00004</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.000009</td>
      <td>3.457481e-13</td>
    </tr>
  </tbody>
</table>