<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C</th>
      <th>C+</th>
      <th>C2H</th>
      <th>C3H2</th>
      <th>CH</th>
      <th>CH2</th>
      <th>CH3CN</th>
      <th>CH3OH</th>
      <th>CN</th>
      <th>CO</th>
      <th>CS</th>
      <th>H2CO</th>
      <th>H2CS</th>
      <th>H2O</th>
      <th>H2S</th>
      <th>H3O+</th>
      <th>HC3N</th>
      <th>HCL</th>
      <th>HCN</th>
      <th>HCO+</th>
      <th>HCS+</th>
      <th>HNCO</th>
      <th>N+</th>
      <th>N2H+</th>
      <th>NH3</th>
      <th>NO</th>
      <th>O</th>
      <th>O2</th>
      <th>OCS</th>
      <th>OH</th>
      <th>OH+</th>
      <th>SIC2</th>
      <th>SIS</th>
      <th>SO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.000027</td>
      <td>1.651062e-10</td>
      <td>1.114851e-09</td>
      <td>3.925562e-11</td>
      <td>1.772407e-09</td>
      <td>4.114169e-09</td>
      <td>1.874509e-08</td>
      <td>1.524439e-09</td>
      <td>2.728074e-09</td>
      <td>0.000105</td>
      <td>0.000002</td>
      <td>5.292556e-08</td>
      <td>5.923982e-08</td>
      <td>1.011594e-07</td>
      <td>1.300653e-09</td>
      <td>1.998218e-11</td>
      <td>1.116410e-08</td>
      <td>2.182325e-10</td>
      <td>3.526524e-07</td>
      <td>4.436543e-11</td>
      <td>2.366261e-10</td>
      <td>6.130229e-14</td>
      <td>4.416554e-14</td>
      <td>1.165763e-13</td>
      <td>6.426607e-09</td>
      <td>2.049798e-10</td>
      <td>0.000103</td>
      <td>2.201553e-10</td>
      <td>5.772783e-10</td>
      <td>1.066615e-09</td>
      <td>4.134341e-16</td>
      <td>7.444956e-12</td>
      <td>1.991336e-13</td>
      <td>6.723412e-10</td>
    </tr>
  </tbody>
</table>