{% extends "baseTemplate.html" %}

{% block title %}
    {{name}}: UCLCHEM
{% endblock %}

{% block active %}
    <a class="active" href="/">UCLCHEM</a>
{% endblock %}

{% block content %}
    <h1>
        {{ name }}:
    </h1>
    <h2>
        A physical parameter inference using spectroscopic information
    </h2>
    <p>
        This is the Home page to the MCMC Inference code {{ name }} (Prototype name).
        This serves as a test for the creation of a web based GUI for the code in order
        to allow for observers to have easy access to the code and its capabilities.
    </p>
    <br>
    <button id="start-UCLCHEM">Start UCLCHEM</button><br><br>
    <div id="progress"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        function start_UCLCHEM() {
            // add task status elements
            $('#start-UCLCHEM').attr("disabled", true)
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);

            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/UCLCHEM/UCLCHEMTask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt((data['current'] ) * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);

                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $('#start-UCLCHEM').attr("disabled", false);
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }
                    else {
                        // something unexpected happened
                        $('#start-UCLCHEM').attr("disabled", false);
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);

                    }
                }
                else if (data['state'] == 'PROGRESS') {
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        $(function() {
            $('#start-UCLCHEM').click(start_UCLCHEM)
        });
    </script>
    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /* Loop through a collection of all HTML elements: */
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
              /* Make an HTTP request using the attribute value as the file name: */
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /* Remove the attribute, and call this function once more: */
                  elmnt.removeAttribute("w3-include-html");
                  includeHTML();
                }
              }
              xhttp.open("GET", file, true);
              xhttp.send();
              /* Exit the function: */
              return;
            }
          }
        }
    </script>
    <h2>
        UCLCHEM Results (If not run yet, these are previous results)<br>
        Physical Parameters: <br>
        <div w3-include-html="/UCLCHEM/PhysResults"></div>
        Fractional Abundances: <br>
        <div w3-include-html="/UCLCHEM/ChemResults"></div>
    </h2>
    <h2>
        Current Physical Parameters to use for UCLCHEM:
    </h2>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Switch</td>
            {% if "switch" in session %}
                <td> {{ session["switch"] }}</td>
            {% else %}
                <td> 0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Collapse toggle</td>
            {% if "collapse" in session %}
                <td> {{ session["collapse"] }}</td>
            {% else %}
                <td> 1 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Desorbtion switch for non-thermal processes</td>
            {% if "desorb" in session %}
                <td> {{ session["desorb"] }}</td>
            {% else %}
                <td> 1 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Initial Density</td>
            {% if "initialDens" in session %}
                <td> {{ session["initialDens"] }}</td>
            {% else %}
                <td> 1.00e2 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Final Density (Only applicable in Switch 1)</td>
            {% if "finalDens" in session %}
                <td> {{ session["finalDens"] }}</td>
            {% else %}
                <td> 1.00e5 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Starting Time (Only applicable in Switch 0)</td>
            {% if "currentTime" in session %}
                <td> {{ session["currentTime"] }}</td>
            {% else %}
                <td> 0.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Final Time (Only applicable in Switch 0)</td>
            {% if "finalTime" in session %}
                <td> {{ session["finalTime"] }}</td>
            {% else %}
                <td> 1.0e7 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Initial Temperature</td>
            {% if "initialTemp" in session %}
                <td> {{ session["initialTemp"] }}</td>
            {% else %}
                <td> 10.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Maximum Temperature</td>
            {% if "maxTemp" in session %}
                <td> {{ session["maxTemp"] }}</td>
            {% else %}
                <td> 300.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Cosmic ray factor</td>
            {% if "zeta" in session %}
                <td> {{ session["zeta"] }}</td>
            {% else %}
                <td> 1.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>UV radiation field factor</td>
            {% if "radfield" in session %}
                <td> {{ session["radfield"] }}</td>
            {% else %}
                <td> 1.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>R<sub>in</sub></td>
            {% if "rin" in session %}
                <td> {{ session["rin"] }}</td>
            {% else %}
                <td> 0.0 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>R<sub>out</sub></td>
            {% if "rout" in session %}
                <td> {{ session["rout"] }}</td>
            {% else %}
                <td> 0.05 (Default)</td>
            {% endif %}
        </tr>
        <tr>
            <td>Freez out efficiency factor</td>
            {% if "fr" in session %}
                <td> {{ session["fr"] }}</td>
            {% else %}
                <td> 1.0 (Default)</td>
            {% endif %}
        </tr>
    </table>
    <h2>
        Update Physical Parameters:
    </h2>
    <form action="" method="post">
        <table>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Switch (0 [Run till age criteria met]  or 1 [Run till final density met])</td>
                <td><input type="text" name="switch" value={{session["switch"]}}></td>
            </tr>
            <tr>
                <td>Collapse (0 [no collaps] or 1 [free-fall collaps])</td>
                <td><input type="text" name="collapse" value={{session["collapse"]}}></td>
            </tr>
            <tr>
                <td>Desorbtion (0 [non-thermal desoprtion off] or 1 [non-thermal desoprtion on]) </td>
                <td><input type="text" name="desorb" value={{session["desorb"]}}></td>
            </tr>
            <tr>
                <td>Initial Density (cm^-3)</td>
                <td><input type="text" name="initialDens" value={{session["initialDens"]}}></td>
            </tr>
            <tr>
                <td>Final Density(cm^-3)</td>
                <td><input type="text" name="finalDens" value={{session["finalDens"]}}></td>
            </tr>
            <tr>
                <td>Starting Time (Only applicable in Switch 0)</td>
                <td><input type="text" name="currentTime" value={{session["currentTime"]}}></td>
            </tr>
            <tr>
                <td>Final Time (Only applicable in Switch 0)</td>
                <td><input type="text" name="finalTime" value={{session["finalTime"]}}></td>
            </tr>
            <tr>
                <td>Initial Temperature(K)</td>
                <td><input type="text" name="initialTemp" value={{session["initialTemp"]}}></td>
            </tr>
            <tr>
                <td>Maximum Temperature(K)</td>
                <td><input type="text" name="maxTemp" value={{session["maxTemp"]}}></td>
            </tr>
            <tr>
                <td>Cosmic radiation factor</td>
                <td><input type="text" name="zeta" value={{session["zeta"]}}></td>
            </tr>
            <tr>
                <td>UV radiation field factor</td>
                <td><input type="text" name="radfield" value={{session["radfield"]}}></td>
            </tr>
            <tr>
                <td>R<sub>in </sub></td>
                <td><input type="text" name="rin" value={{session["rin"]}}></td>
            </tr>
            <tr>
                <td>R<sub>out</sub></td>
                <td><input type="text" name="rout" value={{session["rout"]}}></td>
            </tr>
            <tr>
                <td>Freez out efficiency factor</td>
                <td><input type="text" name="fr" value={{session["fr"]}}></td>
            </tr>
        </table>
        <p align="right">
            <input type="submit" value="submit"/>
        </p>
    </form>
    <script>
        includeHTML();
    </script>
{% endblock %}74